build/bin/
frontend/dist/
frontend/wailsjs/
node_modules/

*.dll
*.so
*.dylib
*.log
*.cache
*.bak
*.tmp
*.md5

.DS_Store
Thumbs.db
*.swp
*.swo
*~
go.work

.vscode/settings.json
.vscode/launch.json

Minion3.0.12-java/
scribeeso.exe
upx.exe
opencode.json
